<%= form_for(@cat_gif) do |f| %>
  <% if @cat_gif.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cat_gif.errors.count, "error") %> prohibited this cat_gif from being saved:</h2>

      <ul>
      <% @cat_gif.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :score %><br>
    <%= f.number_field :score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
